text {
  border-bottom: solid 1px white;
}

table.timetree{
  font-size: 60%;
  width:  50%;
  vertical-align: middle;
  table-layout: fixed;
  vertical-align: middle;
  border: solid 1px white;
}

th,td {
  border: solid 1px white;          /* 枠線指定 */
  text-align: left;
  vertical-align: middle;
}

ul.time li{
  padding-right: 40px;
  list-style: none;
  line-height: 0.8;
  text-align: center;
}