text {
  border-bottom: solid 1px white;
}

table.timetree{
  font-size: 80%;
  width:  30%;
  /* padding-top: 5px; */
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  border-spacing: 0px 15px;
}

td.time {
  font-size: 80%;
  width: 100px;
  padding-right: 20px;
  padding-left: 10px;
  text-align: center;
}

ul.time{
  margin: 0px;
  padding: 0px;
}

ul.time li{
  list-style: none;
  line-height: 0.8;
}